@font-face {
  font-family: "Circular-std-medium-500";
  src: url("./circular-std-medium-500.ttf");
}

.h1 {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}

.h1-text {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 64px;
  font-weight: bold;
}

.bg-gradient {
  /* fallback for old browsers */
  background: #e61e4d;

  background: -webkit-linear-gradient(
    to right,
    rgb(227, 28, 95),
    rgb(215, 4, 102)
  );

  border: none;
}

.link-button {
  text-decoration: none;
}

.link-button {
  color: rgb(255, 255, 255);
}

.link-button:visited {
  color: rgb(255, 255, 255);
}

.link-button:hover {
  color: rgb(255, 255, 255);
}

@media (max-width: 768px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* display 3 */
@media (min-width: 768px) {
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(33.333%);
  }

  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33.333%);
  }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
  transform: translateX(0);
}

.carousel-title {
  padding-top: 55px;
  padding-bottom: 55px;
  font-size: 56px;
  color: black;
}

.footer-text {
  color: rgb(0, 0, 0);
  text-align: center;
}
